<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Challenger Yungas</title>
</head>
<body>
  <div>    
    <h1>Code Challenger Yungas</h1>
    <h3>created by: Igor Vessali</h3>   
  </div>
  <div>
    <h3>Examples to routes</h3>
    <li>List all peoples (GET) -> <a href= http://127.0.0.1:5000/peoples>http://127.0.0.1:5000/peoples</a></li>
    <li>List peoples per region (GET)  -> <a href= http://127.0.0.1:5000/peoples/sudeste>http://127.0.0.1:5000/peoples/sudeste</a>     *see the list of regions</li>
    <li>List all regions -> <a href= http://127.0.0.1:5000/regions>http://127.0.0.1:5000/regions</a></li>

  </div>
  <div>
    <h3>Paginate</h3>
    <div>
      <a>All routes are paged by default in 'page'=1 and 'page_size' = 20</a>
    </div>
    <a>Example of the paged people route:</a>
    <li>List all peoples paginated (GET) -> <a href= http://127.0.0.1:5000/peoples?page_size=10&page=2>http://127.0.0.1:5000/peoples?page_size=10&page=2</a></li>
  </div>
</body>
</html>